workflows/03-update-order-status.json
{
  "name": "Food: Update Order Status (POST /order-status?o=...)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "order-status",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "*" }
      },
      "id": "fc25b901-2bc7-4b15-a8af-b3190470518b",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "52697f83-c2f8-47b8-8d55-e7ee655f990f"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.body.key }}",
              "rightValue": "={{ $env.ADMIN_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "1c4b372b-4613-4723-92f6-7a4a330ddad7",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders\nSET status = $2, updated_at = NOW()\nWHERE order_number = $1\nRETURNING order_number, status, updated_at;",
        "options": {
          "queryReplacement": "={{ $json.query.o }},={{ $json.body.status }}"
        }
      },
      "id": "440ff838-0c90-47b1-9a20-bcb1fe43c445",
      "name": "Update Status",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "dfdf90d6-da92-4779-abb8-1ba86b17dec8",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "92b18ed4-a60b-4410-9c98-dbfb43e609a5",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Check Auth", "type": "main", "index": 0 }]]
    },
    "Check Auth": {
      "main": [
        [{ "node": "Update Status", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Update Status": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
