workflows/04-list-admin-orders.json
{
  "name": "Food: List Admin Orders (GET /admin/orders)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "admin/orders",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "https://neilthedevil.github.io" }
      },
      "id": "45659f74-d2b8-4db3-a720-08554b488b52",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "9e61532b-eae1-4f5b-81af-96b09666011e"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.query.key }}",
              "rightValue": "={{ $env.ADMIN_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "c8a1d2e3-4567-4890-abcd-ef0123456789",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT order_number, customer_name, customer_phone, delivery_address, notes, items, total_amount, status, created_at, updated_at, rider_lat, rider_lng, rider_location_updated_at\nFROM orders\nORDER BY\n  CASE status\n    WHEN 'received' THEN 1\n    WHEN 'preparing' THEN 2\n    WHEN 'out_for_delivery' THEN 3\n    WHEN 'delivered' THEN 4\n    ELSE 5\n  END,\n  created_at DESC\nLIMIT 200;",
        "options": {}
      },
      "id": "a1b2c3d4-e5f6-4789-0abc-def012345678",
      "name": "Fetch Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 200],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT status, COUNT(*)::int AS count\nFROM orders\nWHERE (status IN ('received', 'preparing', 'out_for_delivery'))\n   OR (status = 'delivered' AND created_at >= CURRENT_DATE)\nGROUP BY status;",
        "options": {}
      },
      "id": "b2c3d4e5-f6a7-4890-1bcd-ef0123456789",
      "name": "Fetch Counts",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 400],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const orders = $('Fetch Orders').all().map(i => i.json).filter(o => o && o.order_number);\nconst countsRaw = $('Fetch Counts').all().map(i => i.json).filter(o => o && o.status);\nconst counts = { received: 0, preparing: 0, out_for_delivery: 0, delivered: 0 };\nfor (const r of countsRaw) counts[r.status] = r.count;\nreturn [{ json: { orders, counts } }];"
      },
      "id": "d4e5f6a7-b8c9-4012-3def-0123456789ab",
      "name": "Combine",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "e5f6a7b8-c9d0-4123-4ef0-123456789abc",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "f6a7b8c9-d0e1-4234-5f01-23456789abcd",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 600]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Check Auth", "type": "main", "index": 0 }]]
    },
    "Check Auth": {
      "main": [
        [
          { "node": "Fetch Orders", "type": "main", "index": 0 },
          { "node": "Fetch Counts", "type": "main", "index": 0 }
        ],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Fetch Orders": {
      "main": [[{ "node": "Combine", "type": "main", "index": 0 }]]
    },
    "Fetch Counts": {
      "main": [[{ "node": "Combine", "type": "main", "index": 0 }]]
    },
    "Combine": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
