workflows/05-rider-ping.json
{
  "name": "Food: Rider Ping (POST /rider-ping?o=...)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "rider-ping",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "https://neilthedevil.github.io" }
      },
      "id": "bb01aa11-2222-4b33-9c44-5d6677e88ff9",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "d5c0e1a7-6f8b-4b3a-9a5c-1e2f3a4b5c6d"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.body.key }}",
              "rightValue": "={{ $env.ADMIN_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "aa11bb22-3333-4c44-9d55-6e7788f99a00",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "UPDATE orders\nSET rider_lat = $2::numeric,\n    rider_lng = $3::numeric,\n    rider_location_updated_at = NOW()\nWHERE order_number = $1\nRETURNING order_number, rider_lat, rider_lng, rider_location_updated_at, status;",
        "options": {
          "queryReplacement": "={{ $json.query.o }},={{ $json.body.lat }},={{ $json.body.lng }}"
        }
      },
      "id": "cc22dd33-4444-4e55-9f66-7a8899b00c11",
      "name": "Update Ping",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [680, 200]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "dd33ee44-5555-4f66-9a77-8b99aa00cd22",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "ee44ff55-6666-4a77-9b88-9caabb00de33",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 400]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Check Auth", "type": "main", "index": 0 }]]
    },
    "Check Auth": {
      "main": [
        [{ "node": "Update Ping", "type": "main", "index": 0 }],
        [{ "node": "Respond 401", "type": "main", "index": 0 }]
      ]
    },
    "Update Ping": {
      "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": {},
  "tags": []
}
