workflows/06-get-menu.json
{
  "name": "Food: Get Menu (GET /menu)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "GET",
        "path": "menu",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "https://neilthedevil.github.io" }
      },
      "id": "a01b0000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "a01b0000-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, name, description, price, emoji, bg, available, sort_order FROM menu_items ORDER BY sort_order ASC, name ASC;",
        "options": {}
      },
      "id": "a01b0000-0000-4000-8000-000000000002",
      "name": "Fetch Items",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [460, 300],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all().map(i => i.json).filter(o => o && o.id);\nreturn [{ json: { items } }];"
      },
      "id": "a01b0000-0000-4000-8000-000000000003",
      "name": "Wrap Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "a01b0000-0000-4000-8000-000000000004",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook":      { "main": [[{ "node": "Fetch Items", "type": "main", "index": 0 }]] },
    "Fetch Items":  { "main": [[{ "node": "Wrap Items",  "type": "main", "index": 0 }]] },
    "Wrap Items":   { "main": [[{ "node": "Respond",     "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "tags": []
}
