workflows/07-admin-menu.json
{
  "name": "Food: Admin Menu (POST /admin/menu)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "admin/menu",
        "responseMode": "responseNode",
        "options": { "allowedOrigins": "https://neilthedevil.github.io" }
      },
      "id": "a02b0000-0000-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [240, 300],
      "webhookId": "a02b0000-0000-4000-8000-000000000001"
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "auth-check",
              "leftValue": "={{ $json.body.key }}",
              "rightValue": "={{ $env.ADMIN_SECRET }}",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a02b0000-0000-4000-8000-000000000002",
      "name": "Check Auth",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body || {};\nconst action = body.action;\nif (action !== 'upsert' && action !== 'delete') {\n  throw new Error('Invalid action; expected \"upsert\" or \"delete\"');\n}\nif (action === 'delete') {\n  if (!body.id) throw new Error('Missing id for delete');\n  return [{ json: { action, id: String(body.id) } }];\n}\n// upsert\nconst item = body.item || {};\nif (!item.id || !item.name || item.price == null) {\n  throw new Error('Missing required fields: id, name, price');\n}\nif (Number(item.price) < 0) throw new Error('price must be >= 0');\nreturn [{ json: { action,\n  id: String(item.id),\n  name: String(item.name),\n  description: String(item.description || ''),\n  price: Number(item.price),\n  emoji: String(item.emoji || '🍽️'),\n  bg: String(item.bg || 'from-stone-400 to-stone-500'),\n  available: item.available === false ? false : true,\n  sort_order: Number.isFinite(Number(item.sort_order)) ? Number(item.sort_order) : 100\n} }];"
      },
      "id": "a02b0000-0000-4000-8000-000000000003",
      "name": "Validate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "is-delete",
              "leftValue": "={{ $json.action }}",
              "rightValue": "delete",
              "operator": { "type": "string", "operation": "equals" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a02b0000-0000-4000-8000-000000000004",
      "name": "Is Delete?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "DELETE FROM menu_items WHERE id = $1 RETURNING id;",
        "options": { "queryReplacement": "={{ $json.id }}" }
      },
      "id": "a02b0000-0000-4000-8000-000000000005",
      "name": "Delete Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 200]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO menu_items (id, name, description, price, emoji, bg, available, sort_order)\nVALUES ($1, $2, $3, $4::numeric, $5, $6, $7::boolean, $8::int)\nON CONFLICT (id) DO UPDATE SET\n  name = EXCLUDED.name,\n  description = EXCLUDED.description,\n  price = EXCLUDED.price,\n  emoji = EXCLUDED.emoji,\n  bg = EXCLUDED.bg,\n  available = EXCLUDED.available,\n  sort_order = EXCLUDED.sort_order\nRETURNING id, name, price, emoji, bg, available, sort_order;",
        "options": {
          "queryReplacement": "={{ $json.id }},={{ $json.name }},={{ $json.description }},={{ $json.price }},={{ $json.emoji }},={{ $json.bg }},={{ $json.available }},={{ $json.sort_order }}"
        }
      },
      "id": "a02b0000-0000-4000-8000-000000000006",
      "name": "Upsert Item",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [1120, 400]
    },
    {
      "parameters": {
        "respondWith": "firstIncomingItem",
        "options": {}
      },
      "id": "a02b0000-0000-4000-8000-000000000007",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"error\": \"Unauthorized\" }",
        "options": { "responseCode": 401 }
      },
      "id": "a02b0000-0000-4000-8000-000000000008",
      "name": "Respond 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [680, 500]
    }
  ],
  "connections": {
    "Webhook":     { "main": [[{ "node": "Check Auth", "type": "main", "index": 0 }]] },
    "Check Auth":  { "main": [[{ "node": "Validate", "type": "main", "index": 0 }], [{ "node": "Respond 401", "type": "main", "index": 0 }]] },
    "Validate":    { "main": [[{ "node": "Is Delete?", "type": "main", "index": 0 }]] },
    "Is Delete?":  { "main": [[{ "node": "Delete Item", "type": "main", "index": 0 }], [{ "node": "Upsert Item", "type": "main", "index": 0 }]] },
    "Delete Item": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] },
    "Upsert Item": { "main": [[{ "node": "Respond OK", "type": "main", "index": 0 }]] }
  },
  "active": false,
  "settings": {},
  "tags": []
}
